@import url("https://fonts.googleapis.com/css2?family=Kite+One&family=Montserrat:wght@400;700;800;900&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?iem1yg");
  src: url("../fonts/icomoon/icomoon.eot?iem1yg#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?iem1yg") format("truetype"), url("../fonts/icomoon/icomoon.woff?iem1yg") format("woff"), url("../fonts/icomoon/icomoon.svg?iem1yg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/***Colors***/
.purple {
  color: #8537aa;
}

.dark-blue {
  color: #460387;
}

.orange {
  color: #ffb500;
}

/***Text***/
.text-bold {
  font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 19px;
  color: #828282;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

/***Navbar***/
.navbar {
  z-index: 2;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #ad03a9;
  -webkit-box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.2);
}

.navbar-nav {
  margin-right: 2.5rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.navbar-expand-lg .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.logo {
  width: 65px;
}

.nav-link {
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0 0.5rem;
}

.nav-link:hover {
  border-bottom: 1.5px solid white;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

.dropdown-toggle::after {
  -webkit-transition: -webkit-transform 0.15s linear;
  transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
  transition: transform 0.15s linear, -webkit-transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.dropdown-menu {
  border: none;
  background-color: #d205cd;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/*Rotadores*/
.box-home {
  position: relative;
  font-size: 60px;
  font-weight: 900;
  text-align: left;
  color: white;
  z-index: 15;
  top: 0.5rem;
}

.box-home p, .btn-sumate-rotador, .box-text {
  height: 59px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
}

.box-home p {
  top: 6.5em;
  margin: auto;
  width: 100%;
}

.btn-sumate-rotador {
  top: 24em;
  left: 605px;
  width: 20%;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}

.box-text {
  line-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 375px;
  top: 4.5em;
  overflow: hidden;
}

.box-text ul {
  list-style: none;
  padding-left: 10px;
  -webkit-animation: rotator-text 7s infinite;
          animation: rotator-text 7s infinite;
}

.box-text ul li {
  text-transform: uppercase;
}

.box-text ul,
p {
  margin: 0;
}

@-webkit-keyframes rotator-text {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -70px;
  }
  30% {
    margin-top: -70px;
  }
  40% {
    margin-top: -140px;
  }
  50% {
    margin-top: -140px;
  }
  60% {
    margin-top: -70px;
  }
  75% {
    margin-top: -70px;
  }
  85% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes rotator-text {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -70px;
  }
  30% {
    margin-top: -70px;
  }
  40% {
    margin-top: -140px;
  }
  50% {
    margin-top: -140px;
  }
  60% {
    margin-top: -70px;
  }
  75% {
    margin-top: -70px;
  }
  85% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

/*Suscribite*/
.img-bg-01 {
  background-image: url(../img/bg-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}

.img-bg-01 h1 {
  color: white;
  font-weight: 900;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.form-control {
  width: 30%;
  margin: auto;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
}

::-webkit-input-placeholder {
  color: white !important;
}

:-ms-input-placeholder {
  color: white !important;
}

::-ms-input-placeholder {
  color: white !important;
}

::placeholder {
  color: white !important;
}

.btn-suscribe {
  background-color: white;
  border-radius: 50px;
  color: #2c5edb;
  font-family: "Kite One", sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem 2.8rem;
  margin-top: 2.5rem;
}

.btn-suscribe:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/*Quienes Somos*/
.box-quienes-somos {
  padding: 2rem 5.5rem;
}

.box-quienes-somos h1 {
  font-weight: 900;
  font-size: 3.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #460387;
}

.box-quienes-somos p:last-child {
  font-family: "Kite One", sans-serif;
  color: #d6017f;
  margin-bottom: 2rem;
}

.img-quienes-somos {
  background-image: url(../img/img-quienes-somos.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

/*Accordion*/
.button-image-accordion {
  background-image: url(../img/img-accordion-01.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
}

.button-image-accordion p {
  color: white;
  font-size: 3.5rem;
  font-weight: 900;
  text-align: center;
  width: 100%;
  padding-right: 1.5rem;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  margin-left: -22rem;
  width: 3.25rem;
  height: 3.25rem;
  background-size: 2.25rem;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.title-accordion {
  color: #7f2bdc;
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.pills-accordion p {
  background-color: #ffb500;
  border: 4px solid white;
  border-radius: 50px;
  padding: 1.5rem 3.5rem;
  color: #460387;
  margin: 3rem 1rem;
}

.pills-accordion p:hover {
  background-color: #460387;
  color: white;
}

.accordion-item {
  border: none;
}

.button-image-accordion-02 {
  background-image: url(../img/img-accordion-02.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10rem;
}

.button-image-accordion-02 p {
  color: white;
  font-size: 3.5rem;
  font-weight: 900;
  text-align: center;
  width: 100%;
  padding-right: 1.5rem;
}

.img-accordion-collapse {
  background-image: url(../img/img-accordion-collapse.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-collapse {
  padding: 6rem 0;
  width: 80%;
  margin: auto;
  text-align: center;
}

.accordion-body-02 {
  padding: 0;
}

.text-collapse-02 {
  background-color: #ad03a9;
  height: 19rem;
}

.text-collapse-02 p {
  width: 80%;
  color: white;
  font-family: "Kite One", sans-serif;
  margin: auto;
  padding: 6rem 0;
  text-align: center;
}

/*Pills*/
.pill-01 {
  background-color: #ffb500;
  height: 10rem;
  border-radius: 100px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pill-01 p {
  color: #460387;
  font-family: "Kite One", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.pill-01 a {
  text-decoration: none;
  color: #460387;
  background-color: white;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
}

.container-elements-pill {
  width: 53%;
  height: 100%;
  margin-left: 2rem;
  margin-top: 3rem;
  text-align: center;
}

.img-pill-01, .img-pill-02, .img-pill-03 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 10rem;
  height: 10rem;
  border-radius: 100px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-pill-01 {
  background-image: url(../img/pill-01.jpg);
}

.img-pill-02 {
  background-image: url(../img/pill-02.jpg);
}

.img-pill-03 {
  background-image: url(../img/pill-03.jpg);
}

.img-pill-01 a, .img-pill-02 a, .img-pill-03 a {
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  color: #460387;
  font-weight: 700;
}

.img-pill-01 a:hover, .img-pill-02 a:hover, .img-pill-03 a:hover {
  color: white;
}

.img-pill-01 span {
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 700;
}

.img-pill-01 span:hover {
  color: white;
}

.img-pill-02 span {
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 700;
}

.img-pill-02 span:hover {
  color: white;
}

.img-pill-03 span {
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 700;
}

.img-pill-03 span:hover {
  color: white;
}

.arrow-down-01 {
  color: #460387;
  font-weight: 800;
}

.btn-collapse span:hover {
  color: #460387;
}

.card-collapse {
  border: none;
  text-align: center;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*Equipo*/
.img-equipo {
  background-image: url(../img/img-equipo.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.img-equipo h1 {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  padding-top: 4rem;
}

.img-equipo p {
  color: white;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  padding-top: 0.2rem;
  margin-bottom: 3rem;
}

.img-consejo-directivo {
  background-image: url(../img/img-consejo-directivo.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 22rem;
}

.img-consejo-directivo h1 {
  color: white;
  font-weight: 800;
  padding: 4.5rem 5rem 2rem;
  text-align: center;
}

.img-consejo-directivo p {
  color: white;
  padding: 0rem 5rem;
  text-align: center;
  width: 60%;
  margin: auto;
}

/*Fundadora*/
.background-fundadora {
  background-color: #460387;
}

.background-fundadora h1 {
  font-weight: 900;
  color: white;
  font-size: 3rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.img-anita {
  background-image: url(../img/img-anita.png);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  height: 35rem;
  margin-top: 3.5rem;
  margin-bottom: 4rem;
}

.box-text-founder {
  margin: auto;
}

.box-text-founder h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #d6017f;
}

.box-text-founder .text-first {
  font-family: "Kite One", sans-serif;
  color: #2c5edb;
  font-size: 1.5rem;
  width: 80%;
}

.box-text-founder .text-second {
  color: #460387;
  font-size: 1.2rem;
  width: 80%;
}

.box-text-founder .text-third {
  width: 80%;
}

/*Embajadoras*/
.card-embajadoras {
  background-color: transparent;
  border: none;
}

.bio {
  color: #2c5edb;
  font-weight: 700;
}

.bg-texture-01 {
  background-image: url(../img/texture-01.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: auto;
}

.bg-texture-01 h1 {
  text-align: center;
  font-weight: 700;
  color: #ad03a9;
  padding-top: 3rem;
}

.bg-texture-01 h4 {
  text-align: center;
  font-family: "Kite One", sans-serif;
  color: #2c5edb;
  padding-top: 0.6rem;
  padding-bottom: 3rem;
  font-size: 2rem;
}

.box-info-embajadoras {
  text-align: center;
}

.box-info-embajadoras a {
  text-decoration: none;
}

.box-info-embajadoras h5 {
  color: #ad03a9;
  margin-top: 1rem;
}

.city-text {
  font-size: 1rem;
}

.text-bio {
  font-size: 0.9rem;
}

.box-info-embajadoras .icon-fb {
  font-size: 1.5rem;
  color: #2c5edb;
  background-color: white;
  border-radius: 50px;
  padding: 0.8rem;
}

.box-info-embajadoras .icon-fb:hover {
  background-color: #2c5edb;
  color: white;
  cursor: pointer;
}

.box-info-embajadoras .icon-ig {
  font-size: 1.5rem;
  color: #d6017f;
  background-color: white;
  border-radius: 50px;
  padding: 0.8rem;
}

.box-info-embajadoras .icon-ig:hover {
  background-color: #d6017f;
  color: white;
  cursor: pointer;
}

.ancho-row {
  width: 90%;
  margin: auto;
}

.img-embajadora {
  width: 80%;
}

/*Sumate*/
.img-sumate {
  background-image: url(../img/img-sumate.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.img-sumate h1 {
  font-weight: 900;
  font-size: 3rem;
  color: white;
  padding: 4rem 0 4rem 0;
  text-align: center;
}

.bg-sumate {
  background-color: #460387;
  height: 20rem;
}

.bg-sumate h1 {
  font-weight: 700;
  color: white;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.bg-sumate h2 {
  font-family: "Kite One", sans-serif;
  color: white;
  text-align: center;
}

.bg-sumate span {
  position: relative;
  left: 44rem;
  bottom: 5rem;
  color: #460387;
  background-color: white;
  border-radius: 50px;
  padding: 0.5rem;
  font-size: 1.7rem;
}

.bg-sumate p {
  color: white;
  font-weight: 700;
  width: 80%;
  text-align: center;
  margin: auto;
}

.bg-sumate p:last-child {
  font-size: 1.5rem;
}

.box-number {
  background-color: #eeedee;
  border-radius: 50px;
  width: 20%;
  margin: 8rem 2rem 1rem 0;
}

.box-number:hover {
  background-color: #d4d3d4;
}

.box-number h1 {
  font-weight: 700;
  font-size: 7rem;
  text-align: center;
  position: relative;
  top: -5rem;
}

.number-impar {
  color: #2c5edb;
}

.number-impar:hover {
  color: #8537aa;
}

.number-par {
  color: #8537aa;
}

.number-par:hover {
  color: #2c5edb;
}

.box-number p {
  font-family: "Kite One", sans-serif;
  color: #8537aa;
  text-align: center;
  position: relative;
  bottom: 4rem;
  height: 100%;
}

/*Form sumate*/
.img-form-sumate {
  background-image: url(../img/img-form-sumate.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.img-form-sumate h1 {
  font-weight: 700;
  color: #d6017f;
  text-align: center;
  padding-top: 3rem;
}

.img-form-sumate p {
  color: #8537aa;
  text-align: center;
  font-weight: 700;
}

.form-sumate {
  margin: auto;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-control-sumate {
  width: 45%;
}

.form-sumate input {
  border-bottom: 1px solid #707070 !important;
}

.form-sumate input::-webkit-input-placeholder {
  color: #707070 !important;
}

.form-sumate input:-ms-input-placeholder {
  color: #707070 !important;
}

.form-sumate input::-ms-input-placeholder {
  color: #707070 !important;
}

.form-sumate input::placeholder {
  color: #707070 !important;
}

.btn-enviar {
  font-family: "Kite One", sans-serif;
  font-size: 1.1rem;
  color: #460387;
  background-color: #ffb500;
  border-radius: 50px;
  border: none;
  padding: 0.8rem 4rem;
  width: 30%;
  margin: auto;
}

.btn-enviar:hover {
  background-color: #460387;
  color: white;
}

/*Como Colaborar*/
.img-colaborar {
  background-image: url(../img/img-colaborar.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.img-colaborar h1 {
  font-weight: 900;
  font-size: 3rem;
  color: white;
  padding: 4rem 0 4rem 0;
  text-align: center;
}

.box-colaborar p:first-child {
  color: #8537aa;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  padding-top: 3rem;
}

.box-colaborar p:nth-child(2n) {
  font-family: "Kite One", sans-serif;
  text-align: center;
  color: #2c5edb;
  font-size: 1.4rem;
  margin-top: 1rem;
}

.box-colaborar p:last-child {
  color: #7d7d7d;
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.img-colaborar-01, .img-colaborar-02, .img-colaborar-03 {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 50px;
  width: 28%;
}

.img-colaborar-01 {
  background-image: url(../img/img-colaborar-01.jpg);
}

.img-colaborar-02 {
  background-image: url(../img/img-colaborar-02.jpg);
}

.img-colaborar-03 {
  background-image: url(../img/img-colaborar-03.jpg);
}

.img-colaborar-01 h1, .img-colaborar-02 h1, .img-colaborar-03 h1 {
  font-family: "Kite One", sans-serif;
  color: white;
  text-align: center;
  padding-top: 2rem;
}

.img-colaborar-01 p, .img-colaborar-02 p, .img-colaborar-03 p {
  color: white;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  width: 80%;
  margin: auto;
}

.btn-colaborar {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 50px;
  padding: 1rem 3.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.btn-colaborar:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #460387;
}

/*Aula Virtual*/
.img-aula {
  background-image: url(../img/img-aula-virtual.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: 4rem;
}

.img-atras-aula {
  background-image: url(../img/img-aula-virtual-atras.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: 4rem;
}

.img-aula h1 {
  font-weight: 900;
  font-size: 3rem;
  color: #460387;
  padding: 4rem 0 1rem 0;
  text-align: center;
}

.img-aula p {
  color: #460387;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.btn-ver-mas {
  color: #460387;
  text-decoration: none;
  border: 1px solid #460387;
  border-radius: 50px;
  padding: 0.8rem 4rem;
  margin-bottom: 2rem;
}

.btn-ver-mas:hover {
  background-color: #460387;
  color: white;
}

.tarjeta {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 25rem;
}

.adelante,
.atras {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.adelante h1 {
  width: 80%;
}

.atras h1 {
  color: white;
}

.atras h1 {
  font-weight: 900;
  text-align: center;
}

.text-proximamente,
.text-adquiere {
  font-family: "Kite One", sans-serif;
  text-align: center;
  color: white;
}

.text-proximamente {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.text-adquiere {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;
}

.text-oportunity {
  width: 60%;
  font-weight: 700;
  color: white;
  text-align: center;
  margin: auto;
}

.atras {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.tarjeta-wrap:hover .tarjeta {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
